@font-face {
    font-family: 'Norse';
    src: url(./Norse-Bold.otf);
}

:root {
    --lightGrey: rgb(250, 248, 248);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.left {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex: 1;
    color: white;
}

.odinLogo {
    width: 120px;
    height: 150px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.divLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 250px auto;
    font-size: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
}

.divLogo p {
    font-family: 'Norse', 'Roboto', sans-serif;
    margin: 50px 0;
}

.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 3;
    height: 100vh;
}

.moto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-size: 27px;
    font-weight: 500;
    background-color: var(--lightGrey);
    flex: 1;
    width: 100%;
}

.moto p {
    width: 70%;
    margin-left: 70px;
    margin-bottom: 0px;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding-left: 70px;
    box-shadow: 0px 8px 10px 0px rgb(185, 185, 185);
    z-index: 1;
}

.form p {
    font-size: 27px;
}

label {
    text-transform: uppercase;
    letter-spacing: 1px;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    flex: 1;
}

form input {
    height: 30px;
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 3px;
    width: 300px;
    transition: box-shadow 0.2s, border-color 0.2s;

}

form input:focus {
    border-color: rgba(0, 38, 255, 0.719);
    box-shadow: 0px 2px 3px 0px gray;
    outline: none;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.createAcc {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    background-color: var(--lightGrey);
    padding-left: 70px;
}

.createAcc button {
    width: 270px;
    height: 50px;
    font-size: 20px;
    font-weight: 550;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    color: white;
    background-color: #596D48;
}

.createAcc p {
    margin-top: 45px;
    font-size: 20px;
}

.green {
    color: #596D48;
    font-weight: 700;
    cursor: pointer;
}

#pass:invalid {
    border-color: red;
}
